@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-white: #ffff;
	--clr-black: #121212;
	--clr-yellow: #f9e95a;
	--gradient: linear-gradient(to right, #fb5283, #ff3527);
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}

body {
	background-color: var(--clr-black);
	font-family: 'Roboto', sans-serif;
	color: var(--clr-white);
	line-height: 160%;
}

.hero {
	width: 100%;
	max-height: 100hv;
	padding-left: 20%;
	padding-right: 20%;
	overflow: hidden;
}
.header-menu {
	width: 100%;
	display: flex;
	align-items: center;
}
.logo {
	position: relative;
	fill: var(--clr-white);
	width: 50px;
	cursor: pointer;
	margin: 30px 0;
}
.menu-icon {
	width: 25px;
	cursor: pointer;
	display: none;
}
/*------humberger--------*/
.hamburger {
	position: absolute;
	top: 1.9rem;
	right: 1rem;
	align-items: center;
	cursor: pointer;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}
.hamburger .bar {
	background-color: var(--clr-white);
	border-radius: 0.8rem;
	width: 100%;
	height: 3px;
}

/*==========NAV=======*/
nav ul li {
	display: inline-block;
	margin-left: 60px;
	cursor: pointer;
}

nav ul li a {
	color: var(--clr-white);
	font-size: 1rem;
	transition: 0.3s;
	border-radius: 2rem;
	padding: 0.2rem 1rem;
	transition-property: background;
}

nav ul li a:hover {
	background-color: var(--clr-yellow);
}

header .icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

.col-1 {
	flex-basis: 47%;
	position: relative;
	margin-left: 50px;
	margin: 3%;
}

.col-1 h1 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 40px;
}

.col-1 p {
	font-size: 1rem;
	font-weight: 100;
	margin-bottom: 40px;
	width: 507px;
}

.col-1::after {
	content: '';
	width: 10px;
	height: 70%;
	background: var(--clr-yellow);
	position: absolute;
	left: -40px;
	top: 8px;
}

button {
	width: 187px;
	border: 0;
	font-size: 1rem;
	color: var(--clr-white);
	padding: 12px 10px;
	outline: none;
	background: var(--clr-yellow);
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s;
}
button i {
	width: 30px;
	display: none;
	color: var(--clr-white);
}

button:hover i {
	display: block;
}
button:hover {
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-2 {
	position: relative;
	flex-basis: 50%;
	display: flex;
	align-items: center;
}
.col-2 img {
	width: 90%;
}

/*============Product=============*/
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
	gap: 1.5rem;
	align-items: center;
	margin-top: 0.8rem;
}
.card {
	background-color: aliceblue;
	border-radius: 0.5rem;
	width: 179px;
	height: 155px;
	left: 544px;
	top: 450px;
}
.cardTitle h3 {
	text-transform: capitalize;
	margin-top: 0.8rem;
}
.cardTitle span {
	margin-top: 0.8rem;
}

@media (max-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: repeat(1fr);
	}
}

@media (max-width: 991px) {
	.hamburger {
		display: flex;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	.menuList ul {
		width: 100%;
		min-height: 100%;
		position: absolute;
		background-color: #f9e95a;
		top: 80px;
		right: 0;
		z-index: 2;
	}
	.menuList {
		display: none;
		width: 100%;

		flex-direction: column;
		padding-top: 4rem;
	}

	.menuList li {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	.menuList li a {
		padding: 0.5rem 1rem;
		color: var(--clr-white);
	}
	.menuList.active {
		display: flex;
	}
	.row {
		flex-direction: column-reverse;
		margin: 50px 0;
	}
	.col-2 {
		width: 100%;
		margin-bottom: 10px;
	}
	.col-1 p {
		width: 85%;
		margin-right: 10px;
	}
	.col-1 h1 {
		font-size: 1.5rem;
	}
}
